*{
    margin: 0;
}


/* body{
    background: url(../img/simpsons-pc-2kyt75wm1lmjl2l8.jpg) no-repeat;
    background-size: cover;
} */

/* body {
    position: relative;
    background: none;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/simpsons-pc-2kyt75wm1lmjl2l8.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
} */

/*Início do cabeçalho*/
header{
    height: 180px;
    box-shadow: 1px 1px red;
}
#logotipo{
    width: 450px;
    margin-left: 180px;
    text-align: center;
    float: left;
}
.logo{
    height: 250px;
}

#navegacao{
    width: 350px;
    /* background: red; */
    margin-top: 95px;
    float: right;
    text-align: center;
    margin-right: 230px;
}

#navegacao a{
    margin: 25px;
    text-decoration: none;
    color: aqua;
}

#navegacao a:hover{
    border-bottom: 1px solid red;
}

/*Final do cabeçalho*/

#conteudo{
    width: 60%;
    margin: 70px auto;
}

#apresentacao{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}
.texto{
    float: left;
    width: 60%;
    margin: 80px 30px;
    font-size: 15pt;
    font-family: cursive;
    background: rgba(31, 203, 40, 0.603);
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.especial{
    margin: 20px;
    color: white;
}

.img{
    height: 400px;
    width: 250px;
    float: right;
}


h1:hover{
    color: greenyellow;
}

.figure{
    border-radius: 30%;
    height: 80%;
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
}
.figure:hover{
    transform: scale(1.1);
    transition: 3s;
    border: 1px solid greenyellow;
}

.botoes{
    margin: 0 160px;
    width: 50%;
}
span{
    margin-left: 15px;
}

.texto:hover{
    transform: scale(1.1);
    transition: 3s;
    background: black;
    border: 1px solid greenyellow;
}

main{
    height: 350px;
}

hr{
    background-color: aliceblue;
    height: 2px;
}

#projetos{
    width: 850px;
}