*{
    margin: 0;
}

/*Início do cabeçalho*/
header{
    height: 180px;
}
#logotipo{
    width: 450px;
    margin-left: 180px;
    text-align: center;
    float: left;
}
.logo{
    height: 250px;
}

#cabecalho{
    width: 80%;
    margin: 0 auto;
}

#navegacao{
    width: 350px;
    /* background: red; */
    margin-top: 95px;
    float: right;
    text-align: center;
    margin-right: 230px;
}

#navegacao a{
    margin: 25px;
    text-decoration: none;
    color: aqua;
}

#navegacao a:hover{
    border-bottom: 1px solid red;
}

/*Final do cabeçalho*/

#conteudo{
    width: 60%;
    margin: 70px auto;
}

#apresentacao{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}
.texto{
    float: left;
    width: 65%;
    margin: 30px 10px;
    font-size: 15pt;
    font-family: cursive;
    background: rgba(31, 203, 40, 0.603);
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
h1{
    text-align: center;
}
.especial{
    margin: 20px;
}

.img{
    height: 400px;
    width: 250px;
    float: right;
}

.italo{
    border-radius: 30%;
    height: 80%;
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
}
.italo:hover{
    transform: scale(1.1);
    transition: 3s;
    border: 1px solid greenyellow;
}

#botoes{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 20px;
}

span{
    margin-left: 15px;
}

.texto:hover{
    transform: scale(1.1);
    transition: 3s;
    background: black;
    border: 1px solid greenyellow;
}

main{
    height: 350px;
}

hr{
    background-color: aliceblue;
    height: 2px;
}

/*Início dos Projetos*/
#projetos{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 550px;
}

.especial1, .especial2{
    width: 450px;
}
.especial1{
    float: left;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
}
.especial2{
    float: right;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(73, 69, 69);
}
/*Final dos projetos*/

/*Início do footer*/
footer{
    height: 150px;
    background: white;
}
/*Final do footer*/